html, body {
    background-color: #F5B700;
}

.post {
    background-color: #04E762;
}

header {
    text-align: center;
    display:block;
    height: 10vh;
    background-color: #EAEFBD;
}